:root {
  --primary-50: #ecfdf5;
  --primary-100: #d1fae5;
  --primary-200: #a7f3d0;
  --primary-300: #6ee7b7;
  --primary-400: #34d399;
  --primary-500: #10b981;
  --primary-600: #059669;
  --primary-700: #047857;
  --primary-800: #065f46;
  --primary-900: #064e3b;
  --primary-950: #022c22;

  --surface-0: #ffffff;
  --surface-50: #f8fafc;
  --surface-100: #f1f5f9;
  --surface-200: #e2e8f0;
  --surface-300: #cbd5e1;
  --surface-400: #94a3b8;
  --surface-500: #64748b;
  --surface-600: #475569;
  --surface-700: #334155;
  --surface-800: #1e293b;
  --surface-900: #0f172a;
  --surface-950: #020617;
}

.p-dark {
  color-scheme: dark;

  --surface-0: #020617;
  --surface-50: #0f172a;
  --surface-100: #1e293b;
  --surface-200: #334155;
  --surface-300: #475569;
  --surface-400: #64748b;
  --surface-500: #94a3b8;
  --surface-600: #cbd5e1;
  --surface-700: #e2e8f0;
  --surface-800: #f1f5f9;
  --surface-900: #f8fafc;
  --surface-950: #ffffff;
}
